*{
    font-family: "Roboto", sans-serif;
    margin: 0px;
}

.mainHead{
    background-color: coral;
    font-weight: 800;
    font-size: 40px;
    color: whitesmoke;
    padding: 10px 0px;
    text-align: center;
}
.navStyle{
    background-color: black;
    padding: 15px;
}

.navStyle ul{
    list-style: none;
    
}

.navStyle li{
    display: inline;
    padding: 20px;
}

.navStyle a{
    text-decoration:none ;
    color: white;
}

.mainSection{
   min-height: 250px;
    width: 100%;
    background-image: url("https://media.istockphoto.com/id/185897873/photo/goddess-during-durga-puja-celebrations.jpg?s=1024x1024&w=is&k=20&c=ZB_cqTHUo9l-3fRrSWdhKuKnRW6EQlLVDaPcCJ9lnbc=");
    background-size: cover;
    background-position: center;
    padding-top: 50px;
    text-align: center;    
}

.mainSection h1{
    font-size: 30px;
    color: white;
    padding: 10px;
    display: inline;   
}

.container{
    width: 80%;
    margin: auto;
    padding: 20px;
    height: 180px;
}

.subItem1{
    box-sizing: border-box;
    width: 70%;
    font-size: 16px;
    float: left;
    padding: 20px;
}

.subItem2{
    box-sizing: border-box;
    width: 30%;
    font-size: 16px;
    float: right;
    background-color: #333;
    color: white;
    padding: 20px;
}

.mainFooter h6{
    display: block;
    background: black;
    color: #fff;
    text-align: center;
    padding: 20px;
}